body {
    padding-top: 5rem;
}

.warning {
    color: red;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.file-upload input[type="file"] {
    display: none;
}

.rounded-lg {
    border-radius: 1rem;
}

.custom-file-label.rounded-pill {
    border-radius: 5rem;
}

.custom-file-label.rounded-pill::after {
    border-radius: 0 5rem 5rem 0;
}

.custom-input-label.rounded-pill {
    border-radius: 5rem;
}

.modal-button.rounded-pill {
    border-radius: 5rem;
}

.modal-button.rounded-pill::after {
    border-radius: 0 5rem 5rem 0;
}

.modal-button.rounded-pill {
    border-radius: 5rem;
}